<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP5</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/birds">Birds</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Welcome<br />to<br /><span class="bird1">birds</span
    ><span class="bird2">birds</span><span class="bird3">birds</span>
  </p>
  <button type="button" class="btn" routerLink="/birds">CHECK OUR BIRDS &#10140;</button>
</div>

<router-outlet></router-outlet>
