<div id="bird">
  <h1>Birds</h1>

  <div class="divider"></div>

  <table id="ht" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Nom binominal</th>
      <th class="contentCell">Nom Commun</th>
      <th class="contentCell">Statut de conservation</th>
      <th class="contentCell">Prédateur</th>
    </thead>
    <tbody>
      <tr *ngFor="let bird of birds; let i = index">
        <td class="contentCell" contenteditable="false" (blur)="changeBirdScientificName($event, i)">{{ bird.nomscientifique }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeBirdName($event, i)">{{ bird.nomcommun}}</td>
        <td class="contentCell">
          <select [(ngModel)]="bird.statutspeces" (change)="changeBirdStatus($event, i)">
            <option *ngFor="let status of specieStatuses" [value]="status">{{status}}</option>
          </select>
        </td>
        <td class="contentCell">
          <select [(ngModel)]="bird.nomscientifiquecomsommer" (change)="changeBirdScientificNameConsume($event, i)">
            <option value=""></option>
            <option *ngFor="let name of birdScientificNames" [value]="name">{{name}}</option>
          </select>
        </td>
          <td class="actionCell">
          <button type="button" class="submitbtn" (click)="updateBird(i)"><i class="fa fa-edit"></i></button>
          <button type="button" class="deletebtn" (click)="deleteBird(bird.nomscientifique)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>

      <tr class="blank_row">
        <td class="contentCell" contenteditable="true" placeholder="New Scientific Name" #newBirdScientificName></td>
        <td class="contentCell" contenteditable="true" placeholder="New Name" #newBirdName></td>
        <td class="contentCell">
          <select #newBirdStatus>
            <option value="" selected disabled hidden>Statut de conservation</option>
            <option *ngFor="let status of specieStatuses" [value]="status">{{status}}</option>
          </select>
        </td>
        <td class="contentCell">
          <select #newBirdScientificNameConsume>
            <option value="" selected disabled hidden>Prédateur</option>
            <option value=""></option>
            <option *ngFor="let name of birdScientificNames" [value]="name">{{name}}</option>
          </select>
        </td>
        <td class="contentCell"></td>
    </tr>

    </tbody>
  </table>

  <button type="button" class="btn" (click)="insertBird()">+</button>

</div>
